* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
:root{
    --kirmizi:rgba(245,56,56,1);
    --red:rgb(253, 223, 223);
    --yesil:rgba(47,171,115,1);
    --siyah:rgba(11,19,42,1);
}
body{
    color: #4f5665;
}
.section{
   padding: 3rem 15% ;
}
.white-container{
    padding: 1.7rem 10% ;/*max-width*/
    margin: 5rem;
    background-color: rgb(203,203,203);/* rengi daha beyaza yakın yap */
    box-shadow: 0 1px 10px black;

}
.section-title{
    font-size: 35px;
    color:var(--siyah);
}


 /*(Global’a)
Section-title (başlıklar)
Bold (kalın yazılar için)
Sayfa düzenleri font Family font Rubik*/