* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;   
}
:root{
    --kirmizi:rgba(245,56,56,1);
    --red:rgb(253, 223, 223);
    --yesil:rgba(47,171,115,1);
    --siyah:rgba(11,19,42,1);
}
body{
    color: #4f5665;
}
.section{
   padding: 3rem 15% ;
}
.white-container{
   
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 60px;
  background-color: #fff; 
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  color: var(--siyah);

}
.section-title{
    font-size: 35px;
    color:var(--siyah);
}
